body {
  background-color: #65aa06;
}
.app {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  box-shadow: 0px 1px 2px 0px #0c4312,
  1px 2px 4px 0px #0c4312,
  2px 4px 8px 0px #0c4312,
  2px 4px 16px 0px #0c4312;
}
.crossed {
  text-decoration: line-through 2px red;
}
ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
}


.btn-delete {
  background: #d30100;
  margin-bottom: 5px;
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
box-shadow: 0px 1px 2px 0px #430c0c,
  1px 2px 4px 0px #430c0c,
  2px 4px 8px 0px #430c0c,
  2px 4px 16px 0px #430c0c;
}

.btn-add {
  background: #65aa06;
  margin-top: 5px;
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
box-shadow: 0px 1px 2px 0px #0c4312,
  1px 2px 4px 0px #0c4312,
  2px 4px 8px 0px #0c4312,
  2px 4px 16px 0px #0c4312;
}
input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
img {
  border-radius: 50%;
}